.smartwatch {
    display: flex;
    justify-content: center;
    margin: 60px auto 20px;
}

.images-container {
    margin: 50px 60px;
}

.flex-15 {
    display: flex;
    gap: 15px;
}

.smartwatch-info {
    border-bottom: 1px solid rgba(204, 204, 204, 0.63);
}

.radio-toolbar {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 15px;
    font-size: 14px;
}
.radio-toolbar label:hover {
    background-color: #ddddddba;
}
.radio-toolbar input[type="radio"]:checked+label {
    border: 1px solid var(--button-color);
}
.radio-toolbar2 {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}
.radio-toolbar2 label {
    margin: 0 5px;
}

.radio-toolbar2 label:nth-of-type(2) {
    background-color: #778899;
}

.radio-toolbar2 label:nth-of-type(2):hover {
    background-color: #778899e2;
}

.radio-toolbar2 input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-toolbar2 label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 10px;
    border-radius: 100%;
}
.radio-toolbar2 label:hover {
    background-color: #ddddddba;
}
.radio-toolbar2 input[type="radio"]:checked+label {
    border: 5px solid var(--white);
    outline: 2px solid hsla(0, 0%, 0%, 0.556);
    border-radius: 100%;
}
.quantity {
    display: flex;
}
#quantity {
    border: 1px solid #ddd;
    width: 35px;
    outline: none;
}
#decrement, #increment {
    border: 1px solid #ddd;
    background-color: var(--white);
    padding: 2px 7px;
    cursor: pointer;
}
#decrement {
    margin-left: 10px;
}

.quantity label {
    font-size: 16px;
}

.quantity button {
    font-size: 18px;
}

.quantity input {
    width: 50px;
    text-align: center;
    font-size: 16px;
}
.submit-form {
    background-color: var(--button-color);
}
.submit-form:hover {
    background: var(--hover-color);
}
.product-description {
    margin-bottom: 100px;
}
#desc_ {
    padding: 10px 10px;
    width: fit-content;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-bottom: 3px solid var(--button-color);
}
.prod-desc {
    display: flex;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid var(--star-color);
    padding: 20px;
}
.prod-desc h3 {
    font-size: 19px;
    font-weight: 600;
    margin: 20px 0 20px;
}
.prod-desc i {
    margin-right: 15px;
    color: #252B42;
}
.flex-3 {
    display: flex;
    align-items: center;
    padding: 10px;
}
.flex-3 h5 {
    color:  #333333;
    padding: 0;
}

@media only screen and (max-width: 425px)  {
    .smartwatch {
        flex-direction: column;
        margin: auto;
    }
    .images-container {
        margin: auto 10px;
    }
    .images-container > img {
        width: 350px;
        margin: 100px auto 20px;
    }
    .form-container {
        margin: 10px;
    }
    #buy-it {
        width: 95vw !important;
    }
    .prod-desc {
        flex-direction: column;
        margin: auto 20px;
        width: 90%;
    }
    .prod-desc img {
        margin: 50px auto 20px;
        width: 300px;
    }
    #desc_ {
        margin: auto 20px;
    }
}
